.App {
  text-align: center;
  font-family: 'Antic', sans-serif;
  letter-spacing: .1rem;
}

.content{
	margin: 50px 0;
}

.App-logo {
  font-family: 'Cinzel Decorative', cursive;
}
.App-logo:hover {
  font-family: 'Cinzel Decorative', cursive;
  color: #eeeeee;
}

.navbar-custom, .navbar-toggler {
    background-color: #ef810e!important;
}
.navbar-toggler:focus, .navbar-toggler:active{
	background-color: #ef810e!important;
}
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #eeeeee;
}

.heading{
	color: #ef810e!important;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ef810e;
	border-color: #ffffff;
}
.btn-outline-primary{
	color: #053752;	
	border-color: #053752;
}
.btn-outline-primary:hover{
	background-color: #053752;
	border-color: #053752;	
}

.App-header {
  background-color: #053752;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #001a26;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
